<footer class="mt-auto text-white-50">
  <p class="copy"><a class="text-center text-muted" href="https://twitter.com/elomondi" style="text-decoration: none;">&copy; Emmanuel Omondi 2022</a></p>
</footer>

</body>

</html>
