body {
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
}

.box {
  color: #fff;
  background: #A683E3;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  /* font-weight: 700; */
  color: #fff;
  background-color: transparent;
  border-bottom: solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #A683E3;
  border-bottom-color: #A683E3;
}

.add,
.add:hover,
.add:focus {
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  border-width: 0;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.list-group {
  width: auto;
  max-width: 460px;
  margin: 4rem auto;
}

.form-check-input:checked+.form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  pointer-events: none;
  border-style: dashed;
}

[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.list-group-item-check:hover+.list-group-item {
  background-color: var(--bs-light);
}

.list-group-item-check:checked+.list-group-item {
  color: #fff;
  background-color: var(--bs-blue);
}

.list-group-item-check[disabled]+.list-group-item,
.list-group-item-check:disabled+.list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}

.downNav li a:hover {
  color: #fff !important;
}

.copy a:hover {
  color: #fff !important;
}
